---
import Layout from "../layouts/Layout.astro";

const cardStyle = [
  "max-w-3xl",
  "min-w-3xl",
  
]

const headerStyle = [
  "text-4xl",
  "text-gray-900",
  "dark:text-white"
]

const paragraphStyle = [
  "text-2xl",
  "text-gray-900",
  "dark:text-white",
  "leading-10",
  "mt-5"
]

const paragraphs = [
  "TechLingo.fyi is a free resource for those wanting to break into the tech industry.",
  "Even now with all my years of experience, I still come across acronyms and words that are new to me.",
  "That is why I created TechLingo.fyi to help people understand those mysterious acronyms and jargon that youmay come across in your career as a software developer or data scientist.",
  "The site is built using Astro, a static site generator that uses React and Markdown. It is completely open source and you can find the code on GitHub.",
]

---

<Layout title="TechLingo.fyi" description="TechLingo.fyi is a free resource for people who want to learn about the jargon and acronyms used in the tech industry." path="about">
  <div class={cardStyle.join(" ")}>
    <h1 class={headerStyle.join(" ")}>About <span class="">TechLingo.fyi</span></h1>
    {
      paragraphs.map((paragraph) => {
        return <p class={paragraphStyle.join(" ")}>{paragraph}</p>
      })
    }
  </div>  
</Layout>
